In [157]:
import requests
import json
import pandas as pd
from datetime import datetime
from time import sleep

In [158]:
cidades = pd.read_excel("cidades.xlsx", converters={'Codigo':str})
cidades.Codigo = cidades.Codigo.str.zfill(5)
cidades.UF = cidades.UF.str.lower()

In [159]:
# escolha do municipio
estado = 'sp'
cidade = '71072'

In [160]:
# arquivo tipo municipio

df2 = pd.DataFrame()

for i,city in cidades.iterrows():
    estado = city['UF']
    cidade = city['Codigo']
    try:
        # print(cidade)
        data = requests.get(
        'https://resultados.tse.jus.br/oficial/ele2022/545/dados/'+estado+'/'+estado+str(cidade)+'-c0001-e000545-v.json'
        )
    
        json_data = json.loads(data.content)
        timestamp = datetime.now().strftime('%d_%m_%Y-%Hh%Mm%Ss')   

        # ja salva o json
        arquivo = open('BaseJsonCidades.txt','a')
        arquivo.write("Arquivo gerado as "+ timestamp + "\n")
        arquivo.write(str(json_data) + "\n")
        # print("Operação concluída no arquivo " + arquivo.name + " usando o modo de acesso " + arquivo.mode)
        arquivo.close()


        lista=[]

        for dic in json_data['abr'][1]['cand']:
            if dic['seq'] in ['1','2','3','4','5']:
                lista.append(dic)


                df = pd.DataFrame(lista)
                df["timestamp"] = timestamp
                df["uf_cidade"] = estado+cidade
                df2 = pd.concat([df2,df])
                # df2 = df2.drop_duplicates()
    except: pass
    sleep(0.1)

In [161]:
df2

   seq   n   vap   pvap  e          st             timestamp uf_cidade
0    1  22  5238  73,59  S    2º turno  30_10_2022-14h01m24s   ac01120
0    1  22  5238  73,59  S    2º turno  30_10_2022-14h01m24s   ac01120
1    2  13  1516  21,30  S    2º turno  30_10_2022-14h01m24s   ac01120
0    1  22  5238  73,59  S    2º turno  30_10_2022-14h01m24s   ac01120
1    2  13  1516  21,30  S    2º turno  30_10_2022-14h01m24s   ac01120
..  ..  ..   ...    ... ..         ...                   ...       ...
0    1  22  5189  45,41  S    2º turno  30_10_2022-14h04m57s   go94137
1    2  13  5527  48,36  S    2º turno  30_10_2022-14h04m57s   go94137
2    3  15   418   3,66  N  Não eleito  30_10_2022-14h04m57s   go94137
3    4  12   181   1,58  N  Não eleito  30_10_2022-14h04m57s   go94137
4    5  44    84   0,74  N  Não eleito  30_10_2022-14h04m57s   go94137

[8940 rows x 8 columns]

In [162]:
df2.to_csv("basecidade/basecidades_"+timestamp+".csv", sep=";")
df2

   seq   n   vap   pvap  e          st             timestamp uf_cidade
0    1  22  5238  73,59  S    2º turno  30_10_2022-14h01m24s   ac01120
0    1  22  5238  73,59  S    2º turno  30_10_2022-14h01m24s   ac01120
1    2  13  1516  21,30  S    2º turno  30_10_2022-14h01m24s   ac01120
0    1  22  5238  73,59  S    2º turno  30_10_2022-14h01m24s   ac01120
1    2  13  1516  21,30  S    2º turno  30_10_2022-14h01m24s   ac01120
..  ..  ..   ...    ... ..         ...                   ...       ...
0    1  22  5189  45,41  S    2º turno  30_10_2022-14h04m57s   go94137
1    2  13  5527  48,36  S    2º turno  30_10_2022-14h04m57s   go94137
2    3  15   418   3,66  N  Não eleito  30_10_2022-14h04m57s   go94137
3    4  12   181   1,58  N  Não eleito  30_10_2022-14h04m57s   go94137
4    5  44    84   0,74  N  Não eleito  30_10_2022-14h04m57s   go94137

[8940 rows x 8 columns]

In [163]:
df

  seq   n   vap   pvap  e          st             timestamp uf_cidade
0   1  22  5189  45,41  S    2º turno  30_10_2022-14h04m57s   go94137
1   2  13  5527  48,36  S    2º turno  30_10_2022-14h04m57s   go94137
2   3  15   418   3,66  N  Não eleito  30_10_2022-14h04m57s   go94137
3   4  12   181   1,58  N  Não eleito  30_10_2022-14h04m57s   go94137
4   5  44    84   0,74  N  Não eleito  30_10_2022-14h04m57s   go94137