In [ ]:
import requests
import json
import pandas as pd
from datetime import datetime
from time import sleep

In [25]:
# cidades = pd.read_excel("cidades.xlsx", converters={'Codigo':str})
# cidades.Codigo = cidades.Codigo.str.zfill(5)
# cidades.UF = cidades.UF.str.lower()

cidades = pd.read_excel("cidades_base_tse.xlsx", sheet_name="municipios", converters={"CD_MUNICIPIO":str})
cidades.SG_UF = cidades.SG_UF.str.lower()

In [ ]:
# escolha do municipio
estado = 'sp'
cidade = '71072'

In [28]:
# arquivo tipo municipio

df2 = pd.DataFrame()

for i,city in cidades.iterrows():
    estado = city['SG_UF']
    cidade = city['CD_MUNICIPIO']
    try:
        # print(cidade)
        data = requests.get(
        'https://resultados.tse.jus.br/oficial/ele2022/544/dados/'+estado+'/'+estado+str(cidade)+'-c0001-e000544-v.json'
        )
    
        json_data = json.loads(data.content)
        timestamp = datetime.now().strftime('%d_%m_%Y-%Hh%Mm%Ss')   

        # ja salva o json
        arquivo = open('BaseJsonCidades1t.txt','a')
        arquivo.write("Arquivo gerado as "+ timestamp + "\n")
        arquivo.write(str(json_data) + "\n")
        # print("Operação concluída no arquivo " + arquivo.name + " usando o modo de acesso " + arquivo.mode)
        arquivo.close()


        lista=[]

        for dic in json_data['abr'][1]['cand']:
            if dic['seq'] in ['1','2','3','4','5']:
                lista.append(dic)


                df = pd.DataFrame(lista)
                df["timestamp"] = timestamp
                df["uf_cidade"] = estado+cidade
                df2 = pd.concat([df2,df])
                # df2 = df2.drop_duplicates()
    except: 
        print("erro em "+str(estado)+" "+str(cidade))
    sleep(0.1)

erro em ce 15717
erro em es 56359
erro em pb 21792
erro em ma 09717
erro em sp 66079
erro em sp 63592
erro em zz 29785
erro em pe 23833
erro em pb 19712
erro em pi 11673
erro em mg 45217
erro em to 93114
erro em go 92231
erro em sp 69639
erro em sp 66435
erro em pi 12360
erro em mg 42064
erro em mt 98698
erro em ce 13048
erro em sp 62790
erro em rs 86886
erro em to 73393
erro em sp 71250
erro em pr 75191

In [27]:
df2

   seq   n    vap   pvap  e          st             timestamp uf_cidade
0    1  13   1958  29,44  S      Eleito  03_11_2022-08h54m06s   ac01007
0    1  13   1958  29,44  S      Eleito  03_11_2022-08h54m06s   ac01007
1    2  22   4693  70,56  N  Não eleito  03_11_2022-08h54m06s   ac01007
0    1  13   1497  27,42  S      Eleito  03_11_2022-08h54m07s   ac01015
0    1  13   1497  27,42  S      Eleito  03_11_2022-08h54m07s   ac01015
..  ..  ..    ...    ... ..         ...                   ...       ...
0    1  13   5100  33,77  S      Eleito  03_11_2022-09h21m04s   sp63495
1    2  22  10004  66,23  N  Não eleito  03_11_2022-09h21m04s   sp63495
0    1  13  30905  52,49  S      Eleito  03_11_2022-09h21m04s   pb19372
0    1  13  30905  52,49  S      Eleito  03_11_2022-09h21m04s   pb19372
1    2  22  27977  47,51  N  Não eleito  03_11_2022-09h21m04s   pb19372

[17043 rows x 8 columns]

In [ ]:
df2.to_csv("basecidade/basecidades_"+timestamp+".csv", sep=";")
df2

In [ ]:
df

In [ ]:
cidades

In [ ]:
#distribuição de frequencia
    # percentuais
    # diferenciais entre zonas entre 1 e 2 turno

In [ ]:
# !pip install basedosdados
# import basedosdados as bd

# # Para carregar o dado direto no pandas
# df = bd.read_table(dataset_id='br_tse_eleicoes',
# table_id='local_secao',
# billing_project_id="<YOUR_PROJECT_ID>")

In [24]:

# https://www.tse.jus.br/eleitor/estatisticas-de-eleitorado/consulta-por-municipio-zona

# eleitorado nº

     SG_UF   NM_UE CD_MUNICIPIO          NM_MUNICIPIO
0       AC    ACRE        01007                BUJARI
1       AC    ACRE        01015              CAPIXABA
2       AC    ACRE        01074       CRUZEIRO DO SUL
3       AC    ACRE        01570          ASSIS BRASIL
4       AC    ACRE        01040  MARECHAL THAUMATURGO
...    ...     ...          ...                   ...
5746    PB  BRASIL        20150             DONA INÊS
5747    MG  BRASIL        46191               INHAÚMA
5748    SP  BRASIL        61581              ALAMBARI
5749    SP  BRASIL        63495         CORDEIRÓPOLIS
5750    PB  BRASIL        19372                BAYEUX

[5751 rows x 4 columns]